pacer vs no pacer
xl cpupool-migrate 24 Pool-0 && xl cpupool-migrate 31 pacer_credit && 

rtxen vs creddit
xl cpupool-migrate 24 pacer_credit && xl cpupool-migrate 31 Pool-0 &&

xl vcpu-pin 31 24-31 24-31
xl vcpu-pin 24 8-15 8-15


git pull && python3 monitor.py -R 23 -r 31 -C 24 -c 34 -f 10



xl cpupool-migrate 24 Pool-0 && xl cpupool-migrate 31 pacer_credit && git pull &&  python3 monitor_dup3.py -d 23,24 -f 10 -a 3



xl cpupool-migrate 24 pacer_credit && xl cpupool-migrate 31 Pool-0 && git pull && python3 monitor.py -R 23 -r 31 -C 24 -c 34 -f 10 -a 3




create credit pool:
xl vcpu-list

find out how many cpu available
divide evenly 

xl cpupool-cpu-remove Pool-0 23-31
xl cpupool-create name=\"pacer_rtxen\" sched=\"credit\"

xl cpupool-create name=\"pacer_credit\" sched=\"credit\"


xl cpupool-cpu-add pacer_credit 24-31
