pacer vs no pacer
xl cpupool-migrate 24 Pool-0 && xl cpupool-migrate 31 pacer_credit && 

rtxen vs creddit
xl cpupool-migrate 24 pacer_credit && xl cpupool-migrate 31 Pool-0 &&

xl vcpu-pin 31 24-31 24-31
xl vcpu-pin 24 8-15 8-15


git pull && python3 monitor.py -R 23 -r 31 -C 24 -c 34 -f 10



xl cpupool-migrate 24 Pool-0 && xl cpupool-migrate 31 pacer_credit && git pull &&  python3 monitor_dup3.py -d 23,24 -f 10 -a 3



xl cpupool-migrate 24 pacer_credit && xl cpupool-migrate 31 Pool-0 && git pull && python3 monitor.py -R 23 -r 31 -C 24 -c 34 -f 10 -a 3




create credit pool:

find out how many cpu available:
xl cpupool-list



divide evenly 



xl cpupool-create name=\"pacer_credit\" sched=\"credit\"
xl cpupool-cpu-remove Pool-0 24-31
xl cpupool-cpu-add pacer_credit 24-31

xl create -f VM1.cfg
xl create -f VM2.cfg
xl create -f d1.cfg
xl create -f d2.cfg


xl cpupool-migrate VM2 pacer_credit
xl cpupool-migrate d2 pacer_credit

xl vcpu-pin VM1 all 16-23 16-23
xl vcpu-pin d1 all 16-23 16-23

xl vcpu-pin VM2 all 24-31 24-31
xl vcpu-pin d2 all 24-31 24-31

xl vcpu-list









name = "Example-Cpupool"

# the scheduler to use: valid are e.g. credit, credit2 and rtds
sched = "credit"

# list of cpus to use
cpus = ["2", "3"]